button {
    all: unset;
    user-select: none;

    padding: 10px;
    margin: 10px;
    border-radius: 5px;

    background-color: #2f9acc;
    color: white;
    
    transition: 0.1s;
}
button:hover {
    opacity: 0.8;
    cursor: pointer;
}
button:active {
    filter: brightness(0.8)
}

.red {
    background-color: #cc2f2f;
}

.img {
    padding:0;
}
.img:active {
    filter:unset;
    opacity:0.5;
}